li[role="tab"] {
    width: 13rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    &.active {
        border-radius: 0.25rem;
        background: rgba(255, 255, 255, 0.1);
    }
}
